body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    text-align: center;
}

header{
    margin: 0%;
    width: 100%;
    position: fixed;
    top: 0; 
}

nav{
    background-color: rgba(71, 10, 85, 0.842);
    padding: 2%;
    width: 100%;
}

li{
    list-style: none;
    display: inline; 
}

a{
    text-decoration: none;
    margin: 5%;
    color: #ffffff;
    font-size: 1.05rem;
}

a:hover{
    color: #28d4ff;
}

section{
    margin: 10% 0%;
}

/*fim do css do menu*/

h1{
    color: #2873ff;
    font-size: 4.0rem;
}

h3{
    color: #5d0179; 
}
h2{
    color: #09338b
}

hr{
    width: 20%;
}

p{
    font-size: 1.1rem;
}

u{
    color: #28a802;
}

blockquote{
    color: rgb(150, 78, 90);
}

/*fim do css da home*/

th {
    background-color: rgb(255, 0, 0)
}

td {
    background-color: rgb(255, 169, 160);
    font-family: sans-serif
}

label, input, textarea, select{ 
    display: block;
    margin: 0.5% auto;
}

input[type="submit"] {
    background-color: #5d0179;
    border: none;
    padding: 2% 3%;
    color: #ffffff;
    border-radius: 20%;
}