body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}

.navbar{
    opacity: 0.9;
}

h1{
    color: #C76355;
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
}

h3{
    color: #5FA193;
}

h2{
    color: #F26983;
}

blockquote{
    color: rgb(150, 78, 90);
}

p, li, a, dd, dt, blockquote, h2, h3, th, td{
    font-family: 'Quattrocento Sans', sans-serif;
}

